@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
    url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grand Hotel';
    src: url('../fonts/grandhotel-regular-webfont.eot');
    src: url('../fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/grandhotel-regular-webfont.woff2') format('woff2'),
    url('../fonts/grandhotel-regular-webfont.woff') format('woff'),
    url('../fonts/grandhotel-regular-webfont.ttf') format('truetype'),
    url('../fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}